<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="actor" class="com.spring.stackroute.domain.Actor">
        <constructor-arg index="0" value="Khan"> </constructor-arg>
        <constructor-arg index="1" value="female"> </constructor-arg>
        <constructor-arg index="2" value="27"></constructor-arg>

    </bean>

    <bean id="actor1" class="com.spring.stackroute.domain.Actor">
        <constructor-arg index="0" value="Nagma"> </constructor-arg>
        <constructor-arg index="1" value="female"> </constructor-arg>
        <constructor-arg index="2" value="23"></constructor-arg>

    </bean>




    <bean id="movie2" autowire="byName" class="com.spring.stackroute.domain.Movie" >

    </bean>
    <bean id="movie3" autowire="byName" class="com.spring.stackroute.domain.Movie" >

    </bean>

</beans>